<div class="page-header">
  <%= link_to new_interviewee_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Interviewee
  <% end %>
  <h1>Listing interviewees</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Last name</th>
            <th>Age</th>
            <th>Sex</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @interviewees.each do |interviewee| %>
        <%= content_tag :tr, id: dom_id(interviewee), class: dom_class(interviewee) do %>
                      <td><%= interviewee.last_name %></td>
                      <td><%= interviewee.age %></td>
                      <td><%= interviewee.sex %></td>
                    <td><%= link_to 'Show', interviewee %></td>
          <td><%= link_to 'Edit', edit_interviewee_path(interviewee) %></td>
          <td><%= link_to 'Destroy', interviewee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
