<div class="page-header">
  <%= link_to new_interview_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Interview
  <% end %>
  <h1>Listing interviews</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @interviews.each do |interview| %>
        <%= content_tag :tr, id: dom_id(interview), class: dom_class(interview) do %>
                      <td><%= interview.name %></td>
                    <td><%= link_to 'Show', interview %></td>
          <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
          <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
