<div class="page-header">
  <%= link_to new_territory_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Territory
  <% end %>
  <h1>Listing territories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @territories.each do |territory| %>
        <%= content_tag :tr, id: dom_id(territory), class: dom_class(territory) do %>
                      <td><%= territory.name %></td>
                    <td><%= link_to 'Show', territory %></td>
          <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
          <td><%= link_to 'Destroy', territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
